<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="{% url 'diabetes_prediction' %}"><button>Diabetes Prediction</button></a><br>
    <a href="{% url 'disease_prediction' %}"><button>Disease Prediction</button></a><br>
    <a href="{% url 'heart_attack_prediction' %}"><button>Heart Attack Prediction</button></a><br>
    <a href="{% url 'liver_disease_prediction' %}"><button>Liver Disease Prediction</button></a><br>
</body>
</html>